@media (max-width: 1024px) {
    form {
        position: relative;
        left: -470px;
        top: -35px;
        padding: 25px 25px;
        backdrop-filter: blur(25px);
    }
    .form__image {
        opacity: 0.6;
    }
}
@media (max-width: 768px) {
    form {
        position: relative;
        top: -45px;
        padding-bottom: 35px;
    }
}

@media (max-width: 425px) {
    form {
        padding-top: 45px;
        width: 425px; 
        position: relative;
        left: -500px;
        top: -65px;
    }
    input {
        width: 355px;
    }
    .already-have {
        position: relative;
        top: -30px;
    }
    .button {
        padding: 25px;
        width: 300px;
        text-align: center;
    }
    .logo-container {
        position: relative;
        left: 180px;
    }
    .nav-ul,
    .popup-btn-container {
        display: none;
    }
    .navbar {
        position: relative;
        top: -65px;
        display: block;
    }
    .header {
        background-size: 425px 1380px;
        padding-bottom: 200px;
    }
    .music-variants-ul {
        flex-direction: column;
        gap: 56px;
    }
    .search-input {
        position: relative;
        left: -20px;
    }
    .search-image {
        position: relative;
        left: -66px;
        top: 4px;
    }
    .found-header,
    .dropdowns-ul {
        flex-direction: column;
        align-items: flex-start;
    }
    .dropdowns-ul {
        position: relative;
        left: -20px;
    }
    .filters-flex-container {
        flex-direction: column;
        gap: 20px;
    }
}
